<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

<link lang="sass" rel="stylesheet" href="./static/styles/hobbies.css" />

<header>
    <h1>Interests</h1>
</header>

<div class="hobby-cards">
    {% for hobby in hobbies %}
    <div class="card">
        {% if 'https' in hobby.image %}
            <img src="{{hobby.image}}">
        {% else %}
            <img src="{{ url_for('static', filename=hobby.image) }}">
        {% endif %}
        <div class="card-text">
            {{hobby.card_text}}
        </div>
    </div>
    {% endfor %}
</div>